html, body { 
  margin:0; 
  padding:0; 
}

p {
    font-size: 150%;
    color: white;
} 

div {
    width:80%;
    border:5px black solid;
    position: relative;
    left: 15%;
}




 body {

    background-color:#B00000;
  
  }

.robert {

    margin-left: 5%;
    margin-top: 2%;

}

.lew-robert {

    margin-left: 35%;
    margin-top: 2%;
    min-height: 30%;
    min-width: 30%;
    max-height: 45%;
    max-width: 50%;

}


.info {

  margin-left: 5%;
}

nav {
    background-color: black;
    height: 50px;
    text-align: center;
    padding-left: 40%;
}

nav a {
    

}

nav ul {

}

nav ul li {
list-style-type: none;
 width: 150px;
 float: left;
text-align: center; 
}

li a {
    text-decoration: none;
	color: white;
	line-height:50px;
	display:block;	
}

li a:hover {
   background-color: white;
   color: red;
 }


